@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Noto Sans KR', 'Noto Sans', 'Poppins', sans-serif;
    color:#000;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a{
    text-decoration: none;

}
input, input::placeholder{
    font-weight: 500;
}